.resetPasswordContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetPasswordBox {
    width: 30vw;
    height: 75vh;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid var(--aqua-color);
    box-shadow: 5px 5px 20px var(--aqua-color);
    margin-bottom: 3vmax;
}
.resetPasswordHeading{
    color: var(--text-color);
    text-align: center;
    margin: auto;
    padding-top: 1vmax;
}

.resetPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 90%;
    gap: 1vmax;
    transition: all 0.5s;
}


.resetPasswordForm > div{
    display: flex;
    width: 100%;
    align-items: center;
}

.resetPasswordForm > div > input{
    padding: 1.5vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    font: 300 0.9vmax var(--text-color);
    outline: none;
    background-color: transparent;
    border: 1px solid var(--aqua-color);
    color: var(--text-color);
}

.resetPasswordForm > div > svg{
    position: absolute;
    transform: translateX(1vmax);
    color: var(--text-color);
    font-size: 1.4vmax;
}


.resetPasswordBtn{
    position: relative;
    width: 100%;
    padding: 1vmax;
    border: none;
    border-radius: 50px;
    background-color: var(--tomato-color);
    font: 300 1vmax cursive;
    color: var(--text-color);
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 1;
}

.resetPasswordBtn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--aqua-color);
    transition: all 0.5s;
    z-index: -1;
}

.resetPasswordBtn:hover::before{
    width: 100%;
}

.resetPasswordBtn:hover{
    color: var(--second-bg-color);
    background-color: var(--aqua-color);
}


@media screen and (max-width: 1260px) {
    .resetPasswordBox {
        width: 40vw;
        height: 80vh;
        margin-bottom: 7vmax;
    }

    .resetPasswordForm{
        padding: 3vmax;
        height: 90%;
    }

    .resetPasswordForm > div > input{
        padding: 2vmax 5vmax;
        font-size: 1.5vmax;
    }

    .resetPasswordForm > div > svg{
        transform: translateX(2vmax);
        color: var(--text-color);
        font-size: 2vmax; 
    }
    .resetPasswordForm > a {
        font: 500 1.2vmax var(--poppins-font);
    }
   
    .resetPasswordBtn{
        padding: 1.5vmax;
        font: 300 1.4vmax cursive;
    }
}

@media screen and (max-width: 920px) {
    .resetPasswordBox {
        width: 70vw;
        height: 80vh;
    }

    .resetPasswordForm > div > input{
        padding: 3vmax 5vmax;
        font-size: 1.8vmax;
    }

    .resetPasswordForm > div > svg{
        transform: translateX(2vmax);
        color: var(--text-color);
        font-size: 2vmax; 
    }
   
    .resetPasswordBtn{
        padding: 2vmax;
        font: 300 1.8vmax cursive;
    }
}

@media screen and (max-width: 600px){
    .resetPasswordBox {
        width: 80vw;
        height: 70vh;
        margin-bottom: 10vmax;
    }

    .resetPasswordForm > div > input {
        padding: 3vmax 6vmax;
        font-size: 2vmax;
    }

    .resetPasswordForm > div > svg{
        transform: translateX(2vmax);
        color: var(--text-color);
        font-size: 2.5vmax; 
    }

    .resetPasswordBtn{
        padding: 2vmax;
        font: 300 2.5vmax cursive;
    }
}
