.dashboard {
    width: 100vw;
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dashboardContainer {
    background-color: var(--bg-color);
    margin: 2vmax 2vmax 0 2vmax;
}

.dashboardContainer > h1 {
    color: var(--text-color);
    background-color: #112e42 !important;
    font: 300 2rem var(--poppins-font);
    text-align: center;
    padding: 1.5rem;
}

.dashboardSummary {
    margin: 2rem 0;
}

.dashboardSummary > div {
    display: flex;
    background-color: #112e42;
    justify-content: center;
    height: 15vmax;
}

.dashboardSummary > div > p {
    color: white;
    font: 300 1.3rem "Roboto";
    text-align: center;
    padding: 1.5rem;
    width: 100%;
    margin: 0 5rem;
}

.dashboardSummaryBox2 > a {
    color: rgb(0, 0, 0);
    font: 300 2rem "Roboto";
    text-align: center;
    background-color: rgb(16, 215, 43);
    text-decoration: none;
    padding: 1.5rem;
    width: 10vmax;
    height: 10vmax;
    margin: 2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboardSummaryBox2 > a:first-child {
    background-color: rgb(210, 25, 25);
    color: rgb(255, 255, 255);
}

.dashboardSummaryBox2 > a:last-child {
    background-color: rgb(90, 33, 168);
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 600px) {
    .dashboard {
        grid-template-columns: 1fr;
    }

    .dashboardContainer {
        border-left: none;
    }

    .dashboardSummary > div > p {
        margin: 0;
    }

    .dashboardSummaryBox2 > a {
        padding: 0.5rem;
        margin: 1rem;
        font: 300 0.9rem "Roboto";
    }
}
